# Gradle
.gradle/
build/

# Local config
local.properties

# Android Studio
.idea/
*.iml

# OS
.DS_Store

# Logs
*.log

# Keystore
*.jks
*.keystore

# External native build
.cxx/

# Firebase
google-services.json